body {
    margin: 60px auto;
    width: 70%;
}
/* The style for the header navigation and the footer list*/
header {
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
}

div {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color:#595959;
}

header div a {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 2em;
    padding: 0px;
    color:#5A7D7C;
    display: inline;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-left: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
}

/* portfolio page setting*/
@media (min-aspect-ratio: 1/1) {
    div.portfolio {
        display: grid;
        grid-template-columns: 1fr 500px;
        grid-gap: 5%;
    }

    div.portfolio__image-wrapper {
    }

    div.portfolio > div img {
    display: block;
    width: 100%;
    height: auto;
    }

    div.portfolio__content-wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }
}
/* */

/* Style sheet for a tags */
li a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #5A7D7C;
}


/* Style sheet for heading */
h1 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#595959;
    margin-bottom:0.05em
}

/* Style sheet for resume*/
h1.resume {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#595959;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom:0px;
    padding-bottom: 0px;
}
h2.resume {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#595959;
    margin-bottom:0.05em
}

/* */
p {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #595959";
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}

div.grid {
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-gap: 0px;
 
 }

div.grid__image-wrapper {
    grid-column-start: 1;
    grid-column-end: 8;
}

div img {
   display: block;
   width: 100%;
   height: auto;
}

div.grid__content-wrapper {
    padding-right: 40px;
    padding-left: 40px;
    grid-column-start: 8;
    grid-column-end: 17;
}

code {
    padding: .2em, .4em;
    background-color: #d5d5d5;
    font-family: 'Courier New', monospace;
    color:#5A7D7C;
    border-radius: 5%;

}
