# files created when testing the site locally
_site/*
_posts/*draft*.md
instruction_local_serve.md
_site/feed.xml
_site/index.html
_site/404/index.html
_site/blog/blog-2.html
_site/blog/blog-3.html
_site/blog/blog-site-launch.html
_site/blog/index.html
_site/drafts/UK_SDG_report_2024/index.html
_site/portfolio/atom.xml
_site/portfolio/index.html
_site/portfolio/eng_wales_regional_gdp/index.html
_site/portfolio/food_desert/index.html
_site/portfolio/heathrow_ops_dashboard/index.html
_site/portfolio/page=2/index.html
_site/portfolio/paris_building_age/index.html
_site/portfolio/trussle_trust_2021_23/index.html
_site/privacy_note/index.html
_site/resume/index.html
_site/wips/london_supermarket/index.html
