<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/CSS/main.css">

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-0BEDED78PR"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-0BEDED78PR');
		</script>
	</head>
	<body>
		<header>
			<div>
				<a href="/">TRAVIS YIP</a>
			</div>
			<!-- MAIN NAVIGATION -->
			<nav>
				<ul>
					<li><a href="/portfolio">Portfolio</a></li>
					<li><a href="/resume">Resume</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
			</nav>
		</header>

        <div class="container">
        
            {{ content }}
            
        </div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:cwtravisyip@gmail.com" target="_blank">Email</a></li>
        		<li><a href="https://github.com/cwtravisyip" target="_blank">GitHub</a></li>
				<li><a href="https://linkedin.com/in/cwtravis" target="_blank">LinkedIn</a></li>
			</ul>
		</footer>
	</style>
	</body>
</html>
